// variables globales

//colores
$mainColor:rgb(156, 7, 69);
$secondaryColor: rgb(0, 0, 139);
$thirdColor: rgb(255, 255, 255);
$backGroundColor: rgb(198, 214, 230);
$backGroundColorA: rgba(198, 214, 230, 0.9);
$variantColorA: rgb(191, 191, 250);
$variantColorB: rgb(237, 237, 248);


//fontweight//
$textRegular: 400;
$textBold: 600;
$textBolder: 800;
$textLighter: 300;
$textLight: 100;


//sizings
$textXxl:2.5rem;
$textXl:2.2rem; 
$textLg:2rem;
$textMd:1.8rem;
$textSm:1.5rem;
$textXs:1.2rem;
$textXxs:1rem;

//font
$mainFonts: 'Open Sans', sans-serif;

//margin
$mainMargin: 16px, 10px, 16px, 10px;
$mainPadding: 8px, 6px, 8px, 6px;

//text
$textCenter: center; 
$textItalic: italic;
$textRight: right;

//Flex
$d-flex: flex, flex-start; 




